[Unit]
Description=Kafka
Before=
After=network.target

[Service]
{% if kafka_exporter_enable %}
Environment='KAFKA_JMX_OPTS=-javaagent:{{ jmx_exporter_dir }}/jmx_prometheus_javaagent.jar={{ kafka_exporter_port }}:{{ jmx_exporter_dir }}/kafka_metrics.yml'
{% endif %}
User=kafka
ExecStart=/usr/bin/kafka-server-start {{ kafka_dir }}/kafka-server.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
